<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HAM HAM</title>
  <link rel="stylesheet" href="ham-menu.css">  
  <script src="script.js" async></script>
  <script
      src="https://cdn.jsdelivr.net/gh/rick-liruixin/body-scroll-lock-upgrade@v1.1.0/lib/index.umd.js"
      async
    ></script>
</head>
<body>
  <header class="topnav">
    <h1>theJoernal</h1>
    <nav>
      <span id="nav-label" hidden>Navigation</span>
      <button id="btnOpen" class="topnav_open" aria-expanded="false" aria-labelledby="nav-label">
        <img src="menu_11386663.png" alt="">
      </button>
      <div id="topNavMenu" class="topnav_menu" role="dialog" aria-labelledby="nav-label">
        <button class="topnav_close" id="btnClose" aria-label="Close">
          <img class="close" src="close_8600261.png" alt="close-button">
        </button>
        <ul class="topnav_links">
          <li class="topnav_item"><a href="" class="topnav_link">Learn</a></li>
          <li class="topnav_item"><a href="" class="topnav_link">Blog</a></li>
          <li class="topnav_item"><a href="" class="topnav_link">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="hero-div">
    <img class="hero-img" src="mimi.jpg" alt="random image" width="200px" height="200px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, eius labore? Harum, rerum perspiciatis fugit explicabo enim quod pariatur veniam molestiae similique itaque dolore natus, omnis quis praesentium. Ut, vitae?</p>
  </div>
</body>
</html>